<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARP0ow7TEIrYhVWfqCr6tVPNyYJhzXFOY</string>
	<key>GCM_SENDER_ID</key>
	<string>115253324942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trafficSafety</string>
	<key>PROJECT_ID</key>
	<string>roadsync-64567</string>
	<key>STORAGE_BUCKET</key>
	<string>roadsync-64567.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115253324942:ios:b4c6a77e0b7697cc56addf</string>
</dict>
</plist>